html {
  background: linear-gradient(0deg, #dcf2e3, #82d4c1, #3e6b88 80%) no-repeat;
  box-sizing: border-box;
}

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  width: 100vw;
}

.header {
  color: #fdf6e3;
  font-family: "Pattaya", sans-serif;
  padding: 60px;
  text-align: center;
  justify-content: center;
}

.sidebar {
  display: flex;
  background-color: #9efed3;
  overflow: auto;
  border: 2px solid #644c8c;
  border-radius: 15px;
  flex: 30%;
  max-width: 800px;
  margin: auto;
}

.sidebar a {
  color: black;
  padding: 12px 20px;
  text-decoration: none;
  text-align: center;
}

.sidebar a.active {
  background-color: #4caf50;
  color: black;
}

.sidebar a:hover:not(.active) {
  background-color: #555;
  color: white;
}

.main {
  flex: 70%;
  padding: 20px;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.side {
  flex: 30%;
  padding: 20px;
}

p,
a,
h1 {
  font-family: roboto;
}

.card {
  background-color: #fcf5b1;
  border-radius: 25px;
  border: 2px solid #644c8c;
  width: auto;
  height: 30rem;
  margin: auto;
  overflow: auto;
  scrollbar-width: none;
  padding: 50px;
  padding-top: 25px;
  flex: 1;
  margin-bottom: 36px;
  max-width: 700px;
  bottom: 0;
}

div::-webkit-scrollbar {
  display: none;
}

.center {
  text-align: center;
}

@media screen and (max-width: 700px) {
  .row,
  .sidebar .card {
    flex-direction: column;
  }
  .card {
    max-height: 250px;
  }
}
